# HW1: Datatypes and Wrangling

Yosefe Eshete

Feb 2, 2020

## Data Types

_1) Provide a URL to the dataset._
    https://www.kaggle.com/hakabuk/gun-deaths-in-the-us
    
_2) Explain why you chose this dataset._ 
    I'm interested in knowing how race factors into gun deaths that involve police.  
     

_3) What are the entities in this dataset? How many are there?_
    Individual deaths, there are 100789 entities.
    
_4) How many attributes are there in this dataset?_
    There are 10 attributes.

_5) What is the datatype of each attribute (categorical -ordered or unordered-, numeric -discrete or continuous-, datetime, geolocation, other)? Write a short sentence stating how you determined the type of each attribute. Do this for at least 5 attributes, if your dataset contains more than 10 attributes, choose 10 of them to describe._

| Num | Name | Type | Description |
|-----|------|------|-------------|
| 1 | Police | Categorical unordered | Police involvement, true or false  |
| 2 | Intent|  Categorical unordered| Suicide, Accidental, NA, Homicide, Undetermined |
| 3 | Race | Categorical unordered| race of the individual |
| 4 | Education| Categorical ordered| level of education ranked from 1 to 4|
| 5 | Sex| Categorical unordered| Male or female|

_6) Write python code that loads the dataset using function `pd.read_csv`. Were you able to load the data successfully? If no, why not?_
I wasn't able to load my dataset properly at the start, but after I copied my data into a .cvs file in the same folder and stated the delimiter I was able to load my data properly.

In [7]:
import pandas as pd
deaths_tab = pd.read_csv('guns.csv', delimiter = ',')

# loading code goes here

In [8]:
deaths_tab.head()

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,4.0
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,3.0
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,4.0
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,4.0
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,2.0

## Wrangling

1) My pipeline computes the number of deaths involving police for specific races ages 18 to 30.

In [9]:
police_deaths = (deaths_tab[['police','age','race']]
                .query('age > 18')
                .query('age < 30')
                .query('police > 0')
                 .groupby(['race'])
                 .agg({'police': 'sum'})
                 .reset_index()
                 )
police_deaths

                             race  police
0          Asian/Pacific Islander      15
1                           Black     162
2                        Hispanic     106
3  Native American/Native Alaskan      14
4                           White     184

## Plotting

1) This plot shows the number of police related gun deaths from the years of 2012-2014.

In [1]:
from plotnine import *
(ggplot(police_deaths, aes(x='race', y='police')) + theme(axis_text_x = element_text(angle=90)) + geom_bar(stat='identity') )

NameError: name 'police_deaths' is not defined